<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ยืนยันข้อมูลเรียบร้อย</title>
    <link rel="SHORTCUT ICON" href="../images/logo-swu.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../js/main.js">
    <link rel="stylesheet" href="../css/activity.css">
    <link rel="stylesheet" href="../css/sub-detail.css">

</head>
<body id="main" class="bg-building">

    <div class="container-fluid">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
      
    </div>

    <section>
      <div class="">
        <nav  class="haed--main fixed-topp ">
          <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
              <div class=" d-flex justify-content-center ">
                <span onclick="openNav()">
                  <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="50px" style="color: aliceblue;" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
              </div>
                  </span></div>
            </ul>
            <ul class="nav ">
                <li class="nav-item mt-1" ><a href="/profile" class="nav-link link-light " ><%= firstname %> <%= lastname %></a></li>
    
                <li class="nav-item"><a href="/profile" class="nav-link link-dark px-2"><img src=<%= imgpath %> class="imgprofile" style="width: 37px;height: 37px;"></a></li>
    
              <li class="nav-item pt-1"><a href="/logut" class="nav-link link-dark px-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="color: aliceblue;"  fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    

  
    <section>
      
      <div id="mySidenav" class="leftside--menu">
          <a href="javascript:void(0)" class="closebtn d-xl-none" onclick="closeNav()" >X</a>
       
           <div class="m-1 mb-4">
            <a href="/main"><img class="z-index: 3;" src="http://cosci.swu.ac.th/img/logo.svg" width="150px"></a>  
    
         
          </div>
          <a href="/main">หน้าแรก</a>
          <div class="dropdown">
            <a href="#" class="dropbtn">ตรวจกิจกรรม&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; > </a>
            <div class="dropdown-content">
              <a href="/info_activity01"> กิจกรรมบังคับ</a>
              <a href="/info_activity02"> กิจกรรมเลือก</a>
              <a href="/info_activity03"> กิจกรรมบำเพ็ญประโยชน์</a>

            </div>
          </div>
          
                <a href="/details_activity">รายละเอียดกิจกรรม และหลักเกณฑ์</a>
                <a href="/announce_activity">ประชาสัมพันธ์กิจกรรม</a>
                <div class="leftside--menu--footer">
                  <a href="/logout"><img src="../images/exit.png" width="22px"> &nbsp;ออกจากระบบ</a>
                  <a href="/profile"><img src="../images/person.png" width="22px"> &nbsp; <%= studentID %></a>
          </div>
        </div>


</section>
    </section>




    <section>
      <div class="container my-5">
          <div class="row pt-5">
         <div class="col-md-3  d-flex justify-content-end">
          <p><a href="/status_page" class="f-white fw-light" style="font-size: 45px;font-style: normal;" ><</a></p>
         </div>
            <div class="col-md-6 d-flex justify-content-center" >
              <h1 class="f-white fw-light" ><u>รายละเอียดข้อมูล</u></h1>
            </div>
          </div>
  
                   
  </section>
  
  <section>
  
  <div class="container">
    <div class="row" >
      <div class="col-xl-2 col-md-1">
      </div>
      <div class="col-xl-9 col-md-11">
        <div class="bgadd  " >
          <form class="row g-3">
            <div class="col-md-6">
              <h3 class="mb-3" style="color: #032c8a;">รูปแบบการยื่นคำร้อง</h3>
              <input class="form-control" type="text" value="ลงทะเบียนเข้าร่วมทั่วไป" aria-label="Disabled input example" disabled readonly>

            </div>
        
          </div>
      </div>
      
    </div>
   
  
  </div>
   
  
  </section>
    
  
  
  <section class="my-5">
  
    <div class="container">
      <div class="row" >
        <div class="col-xl-2 col-md-1">
        </div>
        <div class="col-xl-9 col-md-11">
          <div class="bgadd " >
            <div class="container">
              <h3 class="mb-2" style="color: #032c8a;">ตอนที่ 1 ข้อมูลส่วนตัว
              </h3>
  
              <div class="row g-3 d-flex">
                <div class="mb-2 col-10 col-lg-6">
                  <label for="exampleFormControlInput1" class="form-label">รหัสประจำตัวนิสิต</label>
                  <input class="form-control" type="text" value=<%= studentID %> aria-label="Disabled input example" disabled readonly>
  
                </div>
               
  
  <div class=" mb-2 col-10 col-lg-6">
    <label for="exampleFormControlInput1" class="form-label">คณะ/วิทยาลัย *  </label>
   
    <input class="form-control" type="text" value="<%= data[0].name_maj %>"  aria-label="Disabled input example" disabled readonly>

  </div>
  
  <div class="mb-1 col-10 ">
    <label for="exampleFormControlInput1" class="form-label">เพศ*    </label>
    <!-- <div class="form-check">
      <input type="radio" class="form-check-input " id="validationFormCheck2" name="radio-stacked" required>
      <label class="form-check-label" for="validationFormCheck2">นาย</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required>
      <label class="form-check-label" for="validationFormCheck2">นาง / นางสาว</label>
    </div> -->
    <div class="mb-1 col-10 col-lg-6">
      <!-- <label for="exampleFormControlInput1" class="form-label">ชื่อ</label> -->
      <input class="form-control" type="text" value="<%= gender %>" aria-label="Disabled input example" disabled readonly>
    
    </div>
  </div>
  
  
  <div class="mb-1 col-10 col-lg-6">
    <label for="exampleFormControlInput1" class="form-label">ชื่อ</label>
    <input class="form-control" type="text" value="<%= data[0].Firstname %>" aria-label="Disabled input example" disabled readonly>
  
  </div>
  <div class="mb-1 col-10 col-lg-6">
    <label for="exampleFormControlInput1" class="form-label">นามสกุล</label>
    <input class="form-control" type="text" value="<%= data[0].Lastname %>" aria-label="Disabled input example" disabled readonly>
  
  </div>
  
  <div class="mb-1 col-10 col-lg-6">
    <label for="exampleFormControlInput1" class="form-label">เบอร์ติดต่อ * </label>
    <input class="form-control" type="text" value="<%= data[0].user_phone %>" aria-label="Disabled input example" disabled readonly>
  
  </div>
  
  
  
              </div>
           
              </div>
          </div>
            </div>
        </div>
        
     
    
    </div>
     
    
    </section>
      
    
  
  
    <section class="my-5">
  
      <div class="container">
        <div class="row" >
          <div class="col-xl-2 col-md-1">
          </div>
          <div class="col-xl-9 col-md-11">
            <div class="bgadd ">
              <div class="container">
                <h3 class="mb-2" style="color: #032c8a;">ตอนที่ 2 การเข้าร่วมกิจกรรม/โครงการ
                </h3>
    
                <div class="row g-3 d-flex">
                  <div class="mb-2 col-12 ">
                    <label for="exampleFormControlInput1" class="form-label">ชื่อกิจกรรม/โครงการ * </label>
                    <input class="form-control" type="text" value="<%= data[0].Name_Event %>" aria-label="Disabled input example" disabled readonly>
    
                  </div>
                 
    
    
    
    <div class="mb-1 col-10 col-lg-6">
      <label for="exampleFormControlInput1" class="form-label">วันที่ เข้าร่วมกิจกรรม (วันแรก) *
      </label>
      <input class="form-control" type="text" value="<%= data[0].start_Event.toLocaleDateString() %>" aria-label="Disabled input example" disabled readonly>
 
    </div>
    
    <div class="mb-1 col-10 col-lg-6">
      <label for="exampleFormControlInput1" class="form-label">วันที่ สิ้นสุดเข้าร่วมกิจกรรม  *
      </label>
      <input class="form-control" type="text" value="<%= data[0].end_Event.toLocaleDateString() %>" aria-label="Disabled input example" disabled readonly>
    </div>
  
    <div class="mb-1 col-12">
      <label for="exampleFormControlInput1" class="form-label">ระยะเวลาที่เข้าร่วมกิจกรรม/โครงการ *
      </label>
      <input class="form-control" type="text" value="8" aria-label="Disabled input example" disabled readonly>
  
    </div>
  <!-- //////   -->
<!-- Trigger the Modal -->
<!-- <img id="myImg" src="../img/file-1649178654049.png" alt="Snow" style="width:100%;max-width:300px"> -->


    <div class="mb-1">
      <label for="formFile" class="form-label">แนบภาพถ่ายระหว่างเข้าร่วมกิจกรรม/โครงการ * </label>
  <u><a href="#" style="color: #032c8a;">คลิกดูรูป</a></u>
   </div>

   <img id="myImg" src="<%= data[0].file_img %>" alt="Snow" style="width:100%; max-width:300px">
   
   <!-- The Modal -->
 <div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>

  <!-- ///////// this-->
</div>

    <div class="mb-1">
      <label for="formFile" class="form-label">แนบกำหนดการ หรือเอกสารที่รับรองเข้าร่วมกิจกรรม/โครงการ *</label>
      <u><a href="<%= data[0].file_pdf %>" target="_blank" style="color: #032c8a;">คลิกดูเอกสาร</a></u>
    </div>

                </div>
             
                </div>
            </div>
              </div>
          </div>
          
       
      
      </div>
       
      
      </section>
        
  
  
      <footer>
        <div class="container p-lg-3 mt-5 mb-4">
          <div class="row mt-5">
            <div class="col-md-3">
            </div>
            <div class="col-md-5 pt-3 d-flex  " style="font-size: 12px;">
             <p> @ COLLEGE OF SOCIAL COMMUNICATION INNOVATION </p> 
            </div>
            <div class="col-md-3 d-flex justify-content-center">
              <div class="me-3">
                <img src="../images/phone.png" width="30px"> 
            </div>
        <div class="pl-2" style="font-size: 12px;">
             ส่วนส่งเสริมและบริการการศึกษา <br>
            โทร +66 2 649 5000 ต่อ 15614, 15662 <br>
      
            </div>
          </div>
      
        </div>
      </div>
      </footer>



    <script>
     
     document.querySelector('.buttonwarn').onmousemove = function (e) {

var x = e.pageX - e.target.offsetLeft;
var y = e.pageY - e.target.offsetTop;

e.target.style.setProperty('--x', x + 'px');
e.target.style.setProperty('--y', y + 'px');
};


        function openNav() {
          document.getElementById("mySidenav").style.width = "220px";
          document.getElementById("main").style.marginLeft = "20px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }

      // Get the modal
        var modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        var captionText = document.getElementById("caption");
        img.onclick = function(){
          modal.style.display = "block";
          modalImg.src = img.src;
          captionText.innerHTML = img.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }     
        </script>
</body>


</html>