<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>กิจกรรมบังคับ</title>
    <link rel="SHORTCUT ICON" href="../images/logo-swu.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/activity.css">
    <link rel="stylesheet" href="../js/main.js">

</head>

<body id="main">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
  
    <section>
      <div class="">
        <nav  class="haed--main fixed-topp ">
          <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
              <div class=" d-flex justify-content-center ">
                <span onclick="openNav()">
                  <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="50px" style="color: aliceblue;" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
              </div>
                  </span></div>
            </ul>
            <ul class="nav ">
                <li class="nav-item mt-1" ><a href="/profile" class="nav-link link-light " ><%= firstname %> <%= lastname %></a></li>
    
                <li class="nav-item"><a href="/profile" class="nav-link link-dark px-2"><img src=<%= imgpath %> class="imgprofile" style="width: 37px;height: 37px;"></a></li>
    
              <li class="nav-item pt-1"><a href="/logout" class="nav-link link-dark px-2"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="color: aliceblue;"  fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    


    <section>
      
      <div id="mySidenav" class="leftside--menu">
          <a href="javascript:void(0)" class="closebtn d-xl-none" onclick="closeNav()" >X</a>
       
           <div class="m-1 mb-4">
            <a href="/main"><img class="z-index: 3;" src="http://cosci.swu.ac.th/img/logo.svg" width="150px"></a>  
    
         
          </div>
          <a href="/main">หน้าแรก</a>
          <div class="dropdown">
            <a href="#" class="dropbtn">ตรวจกิจกรรม&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; > </a>
            <div class="dropdown-content">
              <a href="/info_activity01"> กิจกรรมบังคับ</a>
              <a href="/info_activity02"> กิจกรรมเลือก</a>
              <a href="/info_activity03"> กิจกรรมบำเพ็ญประโยชน์</a>

            </div>
          </div>
          
                <a href="/details_activity">รายละเอียดกิจกรรม และหลักเกณฑ์</a>
                <a href="/announce_activity">ประชาสัมพันธ์กิจกรรม</a>
                <div class="leftside--menu--footer">
                  <a href="#"><img src="../images/exit.png" width="22px"> &nbsp;ออกจากระบบ</a>
                  <a href="/profile"><img src="../images/person.png" width="22px"> &nbsp;<%= studentID %></a>
          </div>
        </div>

</section>

<section>
  <div class="container-md ">
     
  <div class="row">
    <div class="col-md-2">
      <div class="bgopen d-xxl-none">
        <span style="font-size:30px;cursor:pointer" class="bgopen" onclick="openNav()">
          <div class="fs-2 mb-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"></path>
    </svg>
      </div>
     
          </span></div></div>
    <div class="col-md-9">
      <div class="mt-5 pt-5">
          
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a style=" text-decoration: underline ;" href="/main">หน้าแรก</a></li>
                <li class="breadcrumb-item active" aria-current="page">กิจกรรมบังคับ</li>
              </ol>
            </nav>
  
      </div>
  
    </div>
    </div>
      </div>
    </section>



    
<section>
      
  <div class="container">

    
    <div class="row mt-2">
        <div class="col-md-2  ">
           
            </div>
    
        <div class=" d-none d-sm-block col-md-10 col-xl-6 ">
          <a href="/profile"> <div class="  container--info--1 ">
                <div class=" p-2 d-flex align-items-center">
                    <div class="ps-3">
                      <div class="d-flex">
                        <p class="fw-bold me-1"> ชื่อ :  </p>   
                        <p class="fw-light color-gray ms-1"> <%= firstname %> <%= lastname %> </p>
            
                      </div>
                      <div class="d-flex">
                        <p class="fw-bold me-1">เลขประจำตัวนิสิต :  </p>   
                        <p class="fw-light color-gray ms-1"> <%= studentID %></p>
                      </div>
                     
                  
                      <div class="d-flex">
                        <p class="fw-bold me-1">สาขา :  </p>   
                        <p class="fw-light color-gray ms-1"><%= major %></p>
                      </div>
                      <div class="d-flex">
                        <p class="fw-bold me-1"> กลุ่มผู้เรียน :  </p>   
                        <p class="fw-light color-gray ms-1">(ปี <%= Year %>) </p>
            
                      </div>
                    </div>
                    <div class="ms-4 ps-4 mb-3">
                        <img class="main--imgprofile" src=<%= imgpath %>>
                      </div>
                </div>
            </div>
          </a> 
        </div>

        <div class="col-xl-2">

        </div>
        </div>
     </div>
    



  </section>
      

<section>
    <div class="container-fluid my-4 ">
        <div class="row">
            <div class="col-xl-2 col-md-1">

            </div>
            <div class="col-xl-5 col-md-4">
<h2 class="fw-bolder ps-5">กิจกรรมบังคับ</h2>
            </div>
            <div class="col-xl-5 col-md-6 d-flex">
              <div class=" ms-1">
                <a href="/status_page"> <button type="button" class=" ms-2 btn2 btn--blue">สถานะคำร้อง</button></a>
             </div>  
             <div class="ms-3 ">
              <a href="/add_activity"> <button type="button" class=" ms-2 btn2 btn--red">ลงกิจกรรมเพิ่มเติม</button></a>
           </div>   
           </div>
        </div>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-md-10 col-xl-9">
            <div class="bgtable table-responsive ">
                <table class="table ">
                    <thead >
                  <tr>
                    <th scope="col" >กลุ่มกิจกรรม</th>
                    <th scope="col">รูปแบบ</th>

                    <th scope="col">จำนวน</th>      
                    <th scope="col">กำหนด</th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr--hover">
                    <th scope="row">กิจกรรมบังคับ</th>
                    <td style="color: rgb(58, 50, 205);">บังคับ</td>

                    <td>ครั้ง</td>
            
                    <td>3</td>
                  </tr>
                 
                </tbody>
              
                </table>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>


</section>





<section class="mt-5">

  <div class="container-fluid mb-4">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-10 ">
<h2 class="fw-bolder ps-5">รายการคำร้อง</h2>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-md-10 col-xl-9">
                <div class="table-responsive ">
                    <table class="table " style="background-color: #EDEDED;">
                        <thead >
                      <tr>
                        <th scope="col" >ลำดับ</th>
                        <th scope="col">ภาค/ปีการศึกษา</th>
                        <th scope="col">เริ่ม</th>          
                        <th scope="col">สิ้นสุด</th>
                        <th scope="col">ชื่อกิจกรรม</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="tr--hover" style="background-color: #EDEDED;">
                        <th scope="row"> <a href="/details_submit">1</a></th>
                        <td>1/2556</td>
                        <td>04/08/63 </td>
                        <td>04/08/63 </td>
                        <td> ปฐมนิเทศต้อนรับนิสิต
                            ใหม่และค่ายเสริมสร้าง
                            อัตลักษณ์นิสิต</td>
                      </tr>
                     
                    </tbody>
                  
                    </table>
            </div>
            </div>
           


        </div>

    </div>
</section>







<footer>
  <div class="container pt-lg-5 mt-5 mb-4">
    <div class="row mt-5">
      <div class="col-md-3">
      </div>
      <div class="col-md-5 pt-3 d-flex  " style="font-size: 12px;">
       <p> @ COLLEGE OF SOCIAL COMMUNICATION INNOVATION </p> 
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <div class="me-3">
          <img src="../images/phone.png" width="30px"> 
      </div>
  <div class="pl-2" style="font-size: 12px;">
       ส่วนส่งเสริมและบริการการศึกษา <br>
      โทร +66 2 649 5000 ต่อ 15614, 15662 <br>

      </div>
    </div>

  </div>
</div>
</footer>



</body>
<script>
     
    document.querySelector('.buttonwarn').onmousemove = function (e) {

var x = e.pageX - e.target.offsetLeft;
var y = e.pageY - e.target.offsetTop;

e.target.style.setProperty('--x', x + 'px');
e.target.style.setProperty('--y', y + 'px');
};


       function openNav() {
         document.getElementById("mySidenav").style.width = "220px";
         document.getElementById("main").style.marginLeft = "15px";
       }
       
       function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
         document.getElementById("main").style.marginLeft= "0";
       }


      
       </script>

</html>